.paperChoice {
  background-color: #dbd8f0;
  padding: 4rem 2rem;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 8px;
  transition: all 0.8s;
}

.paperChoice:hover {
  background-color: #1976d2;
  color: white;
}
