.cardPaper {
  height: 10vw;
  width: 10vw;
  border-radius: 8px;
  background-color: #dbd8f0;
  text-align: center;
  transition: all 0.8s;
}

.cardPaper:hover {
  background-color: #1976d2;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .cardPaper {
    height: 40vw;
    width: 40vw;
  }
}

@media only screen and (min-width: 576px) and (max-width: 1200px) {
  .cardPaper {
    height: 20vw;
    width: 20vw;
  }
}
